.signup{
    justify-content: center;
    align-items: center;
    display: flex;
    margin-top: 5%;
    flex-direction: column;
}
.signupContainer{ 
    display: flex;
    flex-direction: column;
    align-items: center;
}
.signupForm {
    margin-top: 30px;
}
.signupBtnContainer{
    display: flex;
    justify-content: flex-end;
    margin-top: 30px;
}