.marketContainer {
    display :flex;
}
.marketContainerLeft{
    flex: .2;
}
.marketContainerRight{
    flex: .8;
    margin-top: 50px;
    padding-bottom: 20px;
    
}
.marketContainerRightHeading {
    font-size: var(--heading);
    color: var(--lightGray);
}
.marketContainerRightDate {
    color: var(--lightGray);
    background-color: var(--primaryColor);
    /* width: 7%; */
    /* align-content: center; */
    padding: 10px;
    /* ali */
    justify-content: center;
    border-radius: 5px;
}

.marketContainerRightHead{
    display: flex;
    align-items: center;
}
.marketContainerRightSearch {
    margin-left: 250px;
}
.marketContainerRightSearch input {
    padding: 15px 15px;
    width: 500px;
    border: none;
    background-color: var(--aboveSurface);
    border-radius: 5px;
    box-shadow: var(--lightShadow);
    font-size: var(--bodyCopy);
    color: var(--lightGray);
}
.marketContainerRightContainer{
    /* border-bottom: 1px solid var(--aboveSurface); */

    padding-bottom: 20px;
}
table {

    border-collapse: collapse;
    width: 100%;
    /* margin-top: 250px; */
  }
  
  td, th {
    border-bottom: 1px solid var(--aboveSurface);
    text-align: left;
    padding: 8px;
    color: var(--gray);
    font-weight: 500;
  }
  
  tr:nth-child(even) {
    background-color: var(--aboveSurface);
    color: var(--lightGray);
  }
  .coinNameAndImage img {
    width: 7%;
    margin-right: 10px;
  }
  .coinNameAndImage{
    display: flex;
    align-items: center;
  }