body{
    --primaryColor : #AB4BC2;
    --surface : #121212;
    --aboveSurface : #292929;
    --gray : #9D9D9D;
    --lightGray :  #DBDBDB;
    --red : #EF174D;
    --green : #0DD700;
    --bodyCopy : 18px;
    --heading : 32px;
    --subHeading : 24px;
    --breadCrums : 18px;
    --lightShadow : 0px 3px 6px rgba(0, 0,0,.1);
}

body { 
    background:   var(--surface);
    font-family:   'Poppins', sans-serif;
}
*{
    padding: 0px;
    margin: 0px;
} 
input:focus, textarea:focus, select:focus{
    outline: none;
}