body{
    --primaryColor : #AB4BC2;
    --surface : #121212;
    --aboveSurface : #292929;
    --gray : #9D9D9D;
    --lightGray :  #DBDBDB;
    --red : #EF174D;
    --green : #0DD700;
    --bodyCopy : 18px;
    --heading : 42px;
    --subHeading : 24px;
    --breadCrums : 18px
}

body { 
    background:   var(--surface);
}